{% extends 'back/base.html' %}
{% load static %}
{% block title %}
Password Reset | Pottersville Admin
{% endblock title %}
{% block main %}
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="content">
                    {% if validlink %}
                    <div class="header">
                        <div class="logo text-center"><img src="{% static 'back/assets/img/logo-dark.png' %}" alt="Klorofil Logo"></div>
                        <h3>Please enter (and confirm) your new password.Forgot your password?</h3>
                    </div>   
                    <form method="POST" class="form" >
                        {% csrf_token %}
                        <table class="form-group">
                            <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label></td>
                            <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label></td>
                            <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                            <td></td>
                            <td><input type="submit" value="Change my password" /></td>
                            </tr>
                        </table>
                    </form>
                    {% else %}
                        <h1>Password reset failed</h1>
                        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>     
                    <div class="footer">
                        <a href="{% url 'index' %}">Back to main site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}


