{% extends 'back/base.html' %}
{% load static %}
{% block title %}
Password Reset | Pottersville Admin
{% endblock title %}
{% block main %}
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="{% static 'back/assets/img/logo-dark.png' %}" alt="Klorofil Logo"></div>
                            <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
                        </div>       
                        <div class="footer">
                            <a href="{% url 'index' %}">Back to main site</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock main %}


