{% extends 'back/base.html' %}
{% load static %}
{% block title %}
Password Reset | Pottersville Admin
{% endblock title %}
{% block main %}
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                    <div class="content text-center">
                        <div class="header">
                            <div class="logo text-center"><img src="{% static 'back/assets/img/logo-dark.png' %}" alt="Klorofil Logo"></div>
                                <h1>Forgot your password?</h1>
                                <h3 style="color:#FEC400;">Enter your email</h3>                        
                        </div>      
                        <form method="POST" class="form-auth-small" >
                            {% csrf_token %}
                            {% if form.email.errors%}
                            {{form.email.errors}}
                            {% endif %}
                            <div class="form-group text-center">
                            <p>{{ form.email }}</p>
					        <button type="submit" class="btn btn-primary btn-md">Send me Instructions</button>
                            </div>
                        </form>
                        <div class="footer">
                            <a href="{% url 'index' %}">Back to main site</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock main %}


